Plugins/DE/com.intecs.ToolboxScript.interfaces/schemas/OGC-06-141_094/status.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema  targetNamespace="http://www.eurimage.com/status" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://www.eurimage.com/status">
	<xs:element name="NumeroItem">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdOrdineXML">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SpecItemsStatus">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpecItem" type="SpecItemType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="orderStatusInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="orderState"/>
							<xs:element ref="additionalStatusInfo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SpecItemType">
		<xs:sequence>
			<xs:element ref="NumeroItem"/>
			<xs:element name="orderItemStatusInfo" type="orderItemStatusInfoType"/>
			<xs:element name="ftp-link" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="additionalStatusInfo" type="xs:string"/>
	<xs:complexType name="orderItemStatusInfoType">
		<xs:sequence>
			<xs:element ref="orderState"/>
			<xs:element ref="additionalStatusInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="orderState">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="New"/>
				<xs:enumeration value="InProgress"/>
				<xs:enumeration value="Completed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
