8.0/Plugins/DE/com.intecs.ToolboxScript.interfaces/schemas/OGC-06-141_094/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://earth.esa.int/hma/ordering" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows" xmlns="http://earth.esa.int/hma/ordering" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.opengis.net/ows" schemaLocation="owsGetCapabilities.xsd"/>
	<!-- ======================= Functions root element ============================-->
	<!-- ====================================================================== -->
	<xs:element name="GetOptions" type="OrderOptionsRequestType"/>
	<xs:element name="GetOptionsResponse" type="OrderOptionsResponseType"/>
	<xs:element name="Submit" type="SubmitPoductOrderRequestType"/>
	<xs:element name="SubmitResponse" type="SubmitProductOrderResponseType"/>
	<xs:element name="GetStatus" type="GetStatusRequestType"/>
	<xs:element name="GetStatusResponse" type="GetStatusResponseType"/>
	<xs:element name="Cancel" type="CancelRequestType"/>
	<xs:element name="CancelResponse" type="CancelResponseType"/>
	<xs:element name="GetQuotation" type="GetQuotationRequestType"/>
	<xs:element name="GetQuotationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element name="errorMessage" minOccurs="0"/>
				<xs:element name="quotationId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateStatus" type="OrderMonitorSpecification"/>
	<xs:element name="UpdateStatusResponse" type="UpdateStatusResponseType"/>
	<xs:element name="GetCapabilities">
		<xs:annotation>
			<xs:documentation>Request to a Order Service to perform the GetCapabilities operation. This operation allows a client to retrieve service metadata (capabilities XML) providing metadata for the specific Order server. In this XML encoding, no "request" parameter is included, since the element name specifies the specific operation. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ows:GetCapabilitiesType">
					<xs:attribute name="service" type="ows:ServiceType" use="required" fixed="OS"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Capabilities">
		<xs:annotation>
			<xs:documentation>XML encoded Order Service GetCapabilities operation response. This document provides clients with service metadata about a specific service instance. If the server does not implement the updateSequence parameter, the server shall always return the complete Capabilities document, without the updateSequence parameter. When the server implements the updateSequence parameter and the GetCapabilities operation request included the updateSequence parameter with the current value, the server shall return this element with only the "version" and "updateSequence" attributes. Otherwise, all optional elements shall be included or not depending on the actual value of the Sections parameter in the GetCapabilities operation request. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ows:CapabilitiesBaseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- ======================= Elements Definition Section  ========================= -->
	<!-- ====================================================================== -->
	<xs:element name="sceneCenter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="NonNullStringType"/>
				<xs:element name="password" type="NonNullStringType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderAccount" nillable="false">
		<xs:simpleType>
			<xs:restriction base="NonNullStringType">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="alongGridUnitType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
				<xs:enumeration value="S"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="alongGrid" type="xs:integer"/>
	<xs:element name="acrossGrid" type="xs:integer"/>
	<xs:element name="orderId">
		<xs:simpleType>
			<xs:restriction base="NonNullStringType">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- 	<xs:element name="deliveryMedium"> 		<xs:simpleType> 			<xs:restriction base="NonNullStringType"> 				<xs:maxLength value="40"/> 			</xs:restriction> 		</xs:simpleType> 	</xs:element> 	-->
	<xs:element name="packageMedium">
		<xs:simpleType>
			<xs:restriction base="NonNullStringType">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="deliveryInformation" type="DeliveryInformationType"/>
	<xs:element name="price" type="PriceType"/>
	<xs:element name="listPrice" type="PriceType"/>
	<xs:element name="expectedPrice" type="PriceType"/>
	<xs:element name="productId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identifier" type="CodeWithAuthorityType"/>
				<xs:element ref="collectionId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderItemRemark" type="NonNullStringType"/>
	<xs:element name="options">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="optionName">
					<xs:simpleType>
						<xs:restriction base="NonNullStringType">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="optionSelectedValues" type="NonNullStringType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sceneSelection" type="SceneSelectionType"/>
	<xs:element name="orderRemark">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="packageRemark" type="NonNullStringType"/>
	<xs:element name="packageLabel" type="NonNullStringType"/>
	<xs:element name="packageCopies" type="xs:integer"/>
	<xs:element name="deliveryUnitRemark" type="NonNullStringType"/>
	<xs:element name="latestAcceptedDeliveryDate" type="xs:date"/>
	<xs:element name="priority" type="xs:integer"/>
	<!-- ======================  Order Specification Definition ======================= -->
	<!-- ====================================================================== -->
	<xs:complexType name="ProductOrderSpecification">
		<xs:sequence>
			<xs:element ref="orderAccount" minOccurs="0"/>
			<xs:element name="orderReference">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="orderRemark" minOccurs="0"/>
			<xs:element ref="deliveryInformation"/>
			<xs:element name="orderItem" type="ProductOrderItemType" maxOccurs="unbounded"/>
			<xs:element ref="priority"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderMonitorSpecification">
		<xs:sequence>
			<xs:element ref="orderAccount" minOccurs="0"/>
			<xs:element ref="orderId"/>
			<xs:element name="orderReference"/>
			<xs:element ref="orderRemark" minOccurs="0"/>
			<xs:element ref="deliveryInformation" minOccurs="0"/>
			<xs:element name="orderItem" type="OrderStatusItemType" maxOccurs="unbounded"/>
			<xs:element name="orderStatusInfo" type="OrderStatusType"/>
		</xs:sequence>
	</xs:complexType>
	<!--=========================  Order Item Definition ============================ -->
	<!--======================================================================= -->
	<xs:complexType name="ProductOrderItemType">
		<xs:sequence>
			<xs:element name="productId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identifier" type="CodeWithAuthorityType"/>
						<xs:element ref="collectionId" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="options" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="sceneSelection" minOccurs="0"/>
			<xs:element name="deliveryMethod" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mail"/>
						<xs:enumeration value="ftp-pull"/>
						<xs:enumeration value="ftp-push"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="packageMedium" minOccurs="0"/>
			<xs:element name="qualityOfService" minOccurs="0"/>
			<xs:element name="orderItemRemark" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--===================== ComplexType  Definition Section ======================= -->
	<!--======================================================================= -->
	<xs:complexType name="SubmitPoductOrderRequestType">
		<xs:sequence>
			<xs:element ref="userInformation"/>
			<xs:element name="orderSpecification" type="ProductOrderSpecification"/>
			<xs:element ref="statusNotification">
				<xs:annotation>
					<xs:documentation>This element specifies how many status notifications are sent back to the caller of the Submit operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductServiceOptionsType">
		<xs:sequence>
			<xs:element name="productOrderOptions" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productOrderOptionsId" type="CharacterString"/>
						<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="optionName" type="NonNullStringType"/>
									<xs:element name="optionValueDefinition">
										<xs:complexType>
											<xs:choice>
												<xs:element name="optionValueRange">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="numericOptionValueMin" type="xs:float"/>
															<xs:element name="numericOptionValueMax" type="xs:float"/>
															<xs:element name="numericOptionValueStep" type="xs:float"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="optionValueList">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="stringOptionValue" type="NonNullStringType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="sceneSelectionOption" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="sceneType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="productDeliveryOptions" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="deliveryMethod">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ftp-push"/>
												<xs:enumeration value="ftp-pull"/>
												<xs:enumeration value="mail"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element ref="packageMedium" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="qualityOfService" type="CharacterString" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="orderOptionInfoURL" type="CharacterString" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HorizontalSceneSelectionDefinitionType">
		<xs:choice>
			<xs:element name="rectangleSceneSelectionOption">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="acrossGrid"/>
						<xs:element ref="alongGridUnitType"/>
						<xs:element ref="alongGrid"/>
						<xs:element name="acrossSizeLimitation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="acrossSizeMin" type="xs:integer"/>
									<xs:element name="acrossSizeMax" type="xs:integer"/>
									<xs:element name="acrossSizeStep" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="acrossPositionLimitation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="acrossStart" type="xs:integer"/>
									<xs:element name="acrossStop" type="xs:integer"/>
									<xs:element name="acrossStep" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="alongSizeLimitation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="alongSizeMin" type="xs:integer"/>
									<xs:element name="alongSizeMax" type="xs:integer"/>
									<xs:element name="alongSizeStep" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="alongPositionLimitation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="alongStart" type="xs:integer"/>
									<xs:element name="alongStop" type="xs:integer"/>
									<xs:element name="alongStep" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrderStatusType">
		<xs:sequence>
			<xs:element name="orderState">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BeingEstimated"/>
						<xs:enumeration value="Estimated"/>
						<xs:enumeration value="BeingQuoted"/>
						<xs:enumeration value="NotValid"/>
						<xs:enumeration value="BeingProcessed"/>
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="BeingCancelled"/>
						<xs:enumeration value="Deleted"/>
						<xs:enumeration value="BeingDeleted"/>
						<xs:enumeration value="Completed"/>
						<xs:enumeration value="BeingOnHold"/>
						<xs:enumeration value="Terminated"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="additionalStatusInfo" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderItemStatusType">
		<xs:sequence>
			<xs:element name="orderState" type="xs:string"/>
			<xs:element name="additionalStatusInfo" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackagePriceType">
		<xs:sequence>
			<xs:element ref="price" minOccurs="0"/>
			<xs:element ref="listPrice" minOccurs="0"/>
			<xs:element ref="expectedPrice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceType">
		<xs:sequence>
			<xs:element name="refCurrency">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refAmount">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:maxInclusive value="4294967296"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="userCurrency" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="userAmount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:maxInclusive value="4294967296"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductDeliveryOptionsType">
		<xs:sequence>
			<xs:element name="productByteSize" type="xs:integer" minOccurs="0"/>
			<xs:element name="productFormat" type="NonNullStringType" minOccurs="0"/>
			<xs:element name="productCompression" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SceneSelectionType">
		<xs:sequence>
			<xs:element name="sceneType">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="sceneCenter" minOccurs="0"/>
			<xs:element name="temporalSelection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="startDateTime"/>
						<xs:element name="endDateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="scenePosition" type="CharacterString" minOccurs="0"/>
			<xs:element name="sceneSize" type="CharacterString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryUnitType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DeliveryInformationType">
		<xs:sequence>
			<xs:element name="ftp-push" minOccurs="0"/>
			<xs:element name="ftp-pull" minOccurs="0"/>
			<xs:element name="mail" type="DeliveryAddressType" minOccurs="0"/>
			<xs:element name="receiverAddress" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryAddressType">
		<xs:sequence>
			<xs:element name="recipient" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="companyRef" type="CharacterString" minOccurs="0"/>
			<xs:element name="postalAddress" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="streetAddress" type="xs:string"/>
						<xs:element name="city" type="xs:string"/>
						<xs:element name="state" type="xs:string"/>
						<xs:element name="postalCode" type="xs:string"/>
						<xs:element name="country" type="xs:string"/>
						<xs:element name="postBox" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="telNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NonNullStringType">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatusItemType">
		<xs:sequence>
			<xs:element name="productId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identifier" type="CodeWithAuthorityType"/>
						<xs:element ref="collectionId"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="sceneCenter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is an option for acquisition orders</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="options" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is an options for products requests</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="sceneSelection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is an option for products requests</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deliveryMethod">
				<xs:annotation>
					<xs:documentation>This is an options for products requests</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="packageMedium" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is an option for product requests</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qualityOfService" minOccurs="0"/>
			<xs:element name="orderItemStatusInfo" type="OrderItemStatusType" minOccurs="0"/>
			<xs:element name="orderItemRemark" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelRequestType">
		<xs:sequence>
			<xs:element ref="orderId"/>
			<xs:element ref="userInformation"/>
			<xs:element ref="statusNotification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelResponseType">
		<xs:sequence>
			<xs:element ref="status"/>
			<xs:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetQuotationRequestType">
		<xs:sequence>
			<xs:element ref="userInformation"/>
			<xs:element name="orderQuotationDeliveryInformation" type="OrderQuotationDeliveryInformationType"/>
			<xs:element name="orderSpecification" type="ProductOrderSpecification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderQuotationDeliveryInformationType">
		<xs:choice>
			<xs:element name="e-mail" type="xs:string"/>
			<xs:element name="mail" type="DeliveryAddressType"/>
		</xs:choice>
	</xs:complexType>
	<!--======================================================================-->
	<!--New definitions due to HMA-->
	<!--======================================================================-->
	<xs:complexType name="OrderOptionsRequestType">
		<xs:sequence>
			<xs:element ref="collectionId"/>
			<xs:element ref="userInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderOptionsResponseType">
		<xs:sequence>
			<xs:element name="productServiceOptions" type="ProductServiceOptionsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubmitProductOrderResponseType">
		<xs:sequence>
			<xs:element ref="orderId" minOccurs="0"/>
			<xs:element name="orderReference" minOccurs="0"/>
			<xs:element ref="status"/>
			<xs:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetStatusRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="orderId"/>
				<xs:element name="lastUpdate" type="DateTimeTypes"/>
			</xs:choice>
			<xs:element ref="userInformation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetStatusResponseType">
		<xs:sequence>
			<xs:element name="orderSpecification" type="OrderMonitorSpecification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="status" type="ExtendedStatusType"/>
			<xs:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateStatusResponseType">
		<xs:sequence>
			<xs:element ref="status"/>
			<xs:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=========================== Simple Types-->
	<xs:simpleType name="ExtendedStatusType">
		<xs:restriction base="CharacterString">
			<xs:enumeration value="success"/>
			<xs:enumeration value="failure"/>
			<xs:enumeration value="incomplete"/>
		</xs:restriction>
	</xs:simpleType>
	<!--======================================================================-->
	<!--======================================================================-->
	<!--Types & Elements taken from Eoli.xsd-->
	<!--======================================================================-->
	<!--======================================================================-->
	<xs:element name="coordinates" type="CoordinatesType" nillable="false"/>
	<xs:element name="collectionId" type="NonNullStringType"/>
	<xs:element name="status" type="StatusType" nillable="false"/>
	<xs:simpleType name="CoordinatesType">
		<xs:restriction base="NonNullStringType"/>
	</xs:simpleType>
	<xs:simpleType name="NonNullStringType">
		<xs:restriction base="CharacterString">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CharacterString">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTimeTypes">
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:restriction base="CharacterString">
			<xs:enumeration value="success"/>
			<xs:enumeration value="partial"/>
			<xs:enumeration value="failure"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!--Types & Elements taken from hma.xsd-->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<xs:complexType name="CodeWithAuthorityType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="codeSpace" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="statusNotification">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="None"/>
				<xs:enumeration value="Final"/>
				<xs:enumeration value="All"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
