Plugins/DE/com.intecs.ToolboxScript.interfaces/wsdl/SSE_14.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.lammamed.rete.toscana.it/ws/Service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:mass="http://www.esa.int/mass" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:tns="http://www.lammamed.rete.toscana.it/ws/Service" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.lammamed.rete.toscana.it/ws/Service" schemaLocation="../schemas/sse.xsd"/>
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="http://schemas.xmlsoap.org/ws/2003/03/addressing"/>
		</schema>
	</types>
	<message name="StartHeader">
		<part element="wsa:MessageID" name="MessageID"/>
		<part element="wsa:ReplyTo" name="ReplyTo"/>
	</message>
	<message name="ContinueHeader">
		<part element="wsa:RelatesTo" name="RelatesTo"/>
	</message>
	<message name="sendRFQInput">
		<part element="tns:sendRFQInputMsg" name="parameters"/>
	</message>
	<message name="sendRFQOutput">
		<part element="tns:sendRFQOutputMsg" name="parameters"/>
	</message>
	<message name="returnRFQResultInput">
		<part element="tns:returnRFQResultInputMsg" name="parameters"/>
	</message>
	<message name="returnRFQResultOutput">
		<part element="tns:returnRFQResultOutputMsg" name="parameters"/>
	</message>
	<message name="sendOrderInput">
		<part element="tns:sendOrderInputMsg" name="parameters"/>
	</message>
	<message name="sendOrderOutput">
		<part element="tns:sendOrderOutputMsg" name="parameters"/>
	</message>
	<message name="returnOrderResultInput">
		<part element="tns:returnOrderResultInputMsg" name="parameters"/>
	</message>
	<message name="returnOrderResultOutput">
		<part element="tns:returnOrderResultOutputMsg" name="parameters"/>
	</message>
	<portType name="Service">
		<operation name="sendRFQ">
			<input message="tns:sendRFQInput" name="sendRFQInput"/>
			<output message="tns:sendRFQOutput" name="sendRFQOutput"/>
		</operation>
		<operation name="sendOrder">
			<input message="tns:sendOrderInput" name="sendOrderInput"/>
			<output message="tns:sendOrderOutput" name="sendOrderOutput"/>
		</operation>
	</portType>
	<portType name="ServiceCallback">
		<operation name="returnRFQResult">
			<input message="tns:returnRFQResultInput" name="returnRFQResultInput"/>
			<output message="tns:returnRFQResultOutput" name="returnRFQResultOutput"/>
		</operation>
		<operation name="returnOrderResult">
			<input message="tns:returnOrderResultInput" name="returnOrderResultInput"/>
			<output message="tns:returnOrderResultOutput" name="returnOrderResultOutput"/>
		</operation>
	</portType>
	<binding name="ServiceSoapBinding" type="tns:Service">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sendRFQ">
			<wsdlsoap:operation soapAction="sendRFQ"/>
			<input>
				<wsdlsoap:header message="tns:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="sendOrder">
			<wsdlsoap:operation soapAction="sendOrder"/>
			<input>
				<wsdlsoap:header message="tns:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="ServiceCallbackSoapBinding" type="tns:ServiceCallback">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="returnRFQResult">
			<wsdlsoap:operation soapAction="returnRFQResult"/>
			<input>
				<wsdlsoap:header message="tns:ContinueHeader" part="RelatesTo" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="returnOrderResult">
			<wsdlsoap:operation soapAction="returnOrderResult"/>
			<input>
				<wsdlsoap:header message="tns:ContinueHeader" part="RelatesTo" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Service">
		<port binding="tns:ServiceSoapBinding" name="Service">
			<wsdlsoap:address location="http://151.13.116.200:80/TOOLBOX/services/Service"/>
		</port>
	</service>
	<service name="ServiceCallback">
		<port binding="tns:ServiceCallbackSoapBinding" name="ServiceCallback">
			<wsdlsoap:address location="http://openuri.org"/>
		</port>
	</service>
	<plnk:partnerLinkType name="Service">
		<plnk:role name="ServiceServiceProvider">
			<plnk:portType name="tns:Service"/>
		</plnk:role>
		<plnk:role name="ServiceServiceRequester">
			<plnk:portType name="tns:ServiceCallback"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>