web/WEB-INF/plugins/FactoryInterfacesPlugin/schemas/SSE_14/oi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by F. Di Loreto (DATAMAT) (ESA - European Space Agency) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V1.7" xmlns="http://www.esa.int/oi" targetNamespace="http://www.esa.int/oi">
	<!--XML OpenGIS extended for UOS v 1.10-->
	<!--=====================================  Root element-->
	<xsd:element name="originPart">
		<xsd:annotation>
			<xsd:documentation>This represent the targetPart elements within the Z39.50- CIP- Order ExtendedRequest</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="action">
					<xsd:annotation>
						<xsd:documentation>Indicates the type of operation that is requested to be performed for the order request. It has associated a list of enumeratives defining 5 possible kinds of order requests</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="ActionEnum"/>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="orderSpecification" type="OrderSpecification">
					<xsd:annotation>
						<xsd:documentation>This level corresponds to the OrderDescriptor level of MUIS-C and to Detail Order Level of DE.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="orderId" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>It maps MUIS-C OrderDescriptor 'OrderId' and DE implicit order 'Project+OrdCtr+RefDuID'. It coincides with OHS_OrderId for order directed from OHS towards CUS (i.e. composed with Account+sequential number internal to the account for MUIS and N/A for DE Interface). It coincides again with OHS_OrderId for order directed from OHS towards PROMISE ( i.e. composed with Account+MUIS-C OrderDescriptor 'OrderId' for MUIS, Project+OrdCtrDuID for DE). </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="statusUpdateOption" type="StatusUpdateOptionEnum" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specify if the update of the status shall be notified automatically or manually. It shall be used to implement DE functionality of requesting a status. For MUIS-C the option will always be set to automatic with value 'OGC_interface'</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="userInformation" type="UserInformation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Only the userId and the Billing.CustomerReference are used in this context. That is because only the shipping address is needed,  not at this level but at DeliveryUnit level</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="otherInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="sourceUserId" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>It maps MUIS-C OrderDescriptor 'UserId' parameter</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="orderAccount" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>It maps the DE #UORD 'Project' parameter and the MUIS-C OrderDescriptor 'OrderAccount' parameter.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="answerCounter" type="xsd:int" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Counts the Provider Order Status files sent to DE for this detail order</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--=====================================  Order level -->
	<xsd:complexType name="OrderSpecification">
		<xsd:annotation>
			<xsd:documentation>This type maps mailny MUIS-C OrderDescriptor structure and DE #DORD (Detailed Order definition) interface.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="identificationInfo" type="IdentificationInformation">
				<xsd:annotation>
					<xsd:documentation>It contains identificators of the order</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderingCentreId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Always ESA/UOS for MEH purposes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deliveryUnits" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of Delivery Units associated to the order</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="DeliveryUnitSpec"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="orderPrice" type="PriceInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>At this level  MUIS-C maps  OrderDescriptor 'OrderPrice', 'OrderListPrice' and 'OrderExpectedPrice'. DE maps only the expectedPrice in the #DORD interface.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderCancellationDate" type="DateTime.iso8601" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maps the MUIS-C OrderDescriptor LatestCancelDate. NOt present in DE interfaces.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orderType" type="OrderTypeEnum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>it Maps MUIS-C OrderDescriptor 'OrderType'. Not used in DE interfaces.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderClass" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps MUIS-C OrderDescriptor "OrderClass"</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="orderScope" type="OrderScopeEnum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Scope of the order. Not present in MUIS-C. Used in DE within #DORD to improve service ("Scope").</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="applicationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps the DE #DORD 'Appl Type' parameter</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="orderSource" type="OrderSourceEnum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The System from which the order has been posted. It maps the  MUIS-C OrderDescriptor 'OrderSource[-CollectionId]' and DE UORD 'Prov' parameter. The CollectionId is a MUIS-C parameter given within TargetService compound paramater. The given enumerative list is extensible.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderDateTime" type="DateTime.iso8601" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Maps MUIS-C OrderDescriptor "OrderDateTime" and DE #DORD "Date/Time:".</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderStatusInfo" type="OrderStatusInfo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps MUIS-C OrderItem 'OrderStatus' and 'OrderStatusDescription' parameters</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderRemark" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps information depending on the interfaces: 1) customer2orderDesk 2) orderDesk2Customer 3) orderDesk2Processing 4) processing2OrderDesk. It maps MUIS-C "OrderUserRemarks" in OrderDescriptor and DE #UORD 'Remarks'</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderCondition" type="OrderCondition" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Logical condition to be applied to all order items. Present only in MUIS-C OrderDescriptor</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="partialDeliveryAccepted" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>True if DeliveryUnits can be delivered separately. Present in MUIS-C OrderDescriptor and in DE #DORD interface ("PD").</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="partialFulfillmentPercentage" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Different from 100  if partial fullfillment is acceptable for the user. Allowed values are from 0 to 100, 100 means MUIS-C 'FALSE' (100% have to be fulfilled, no prtial fulfilment accepted), any other value means MUIS-C 'TRUE'. In DE it expresses the minimum percentage of completeness of the order to consider the order as fulfilled.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="1"/>
									<xsd:maxInclusive value="100"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="contactPoint" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It mapping depends on usage:                             1) customer (DE, cat1) to  OHS: customerContactPoint  (DE #DORD 'CD' (Prov_Who))                     2) OHS 2 customer: orderDeskContactPoint (DE #DORD 'SD' (Supplier Deputy))                          3) OHS 2 processing: (CUS/PROMISE/ENVISAT): orderDeskContactPoint    4) processing 2 OHS: processingContactPoint</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderCondition">
		<xsd:annotation>
			<xsd:documentation>Describes a logical condition to be applied to all order items. It maps MUIS-C OrderDescriptor "OrderCondition"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startDate" type="DateTime.iso8601" minOccurs="0"/>
			<xsd:element name="endDate" type="DateTime.iso8601" minOccurs="0"/>
			<xsd:element name="observationInterval" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numberOfObservations" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaOfInterest" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="gPolygon" type="GPolygon"/>
							<xsd:element name="circle" type="Circle">
								<xsd:annotation>
									<xsd:documentation>It maps the DE #AREA 'Radius' parameter</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="clusterAreaName" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps DE #AREA Area(s) (Cluster_Area_Name). It is not used in MUIS-C</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="areaName" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps DE #AREA Area(s) (Area_Name). It is not used in MUIS-C</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="thematicKeyword" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="productCodeId" type="ProductCodeEnum" minOccurs="0"/>
			<xsd:element name="coverageRequired" type="CoverageRequiredEnum" minOccurs="0"/>
			<xsd:element name="maxNumOfProductsPerObservation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="65535"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="deliveryPolicy" type="DeliveryPolicyEnum" minOccurs="0"/>
			<xsd:element name="specificConditions" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Split MUIS-C SPECIFIC_CONDITIONS single string at each '\n' encountered defining multiple strings.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="1023"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="correlationConditions" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Split MUIS-C CORRELATION_CONDITIONS string at '\n'</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="1023"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  DeliveryUnit level  -->
	<xsd:complexType name="DeliveryUnitSpec">
		<xsd:annotation>
			<xsd:documentation>This section maps MUIS-C DeliveryUnitDescriptor structure. DE interface does not have a specific structure mapping this section and most of the relevant information contained here can be found in #DORD interface.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="deliveryUnitId" type="DeliveryUnitId">
				<xsd:annotation>
					<xsd:documentation>Identifier of the DeliveryUnit. It maps MUIS-C DeliveryUnitDescriptor "DeliveryUnitId" and DE #DORD "Ref DuId#".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deliveryUnitPrice" type="PriceInfoLowLevel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>At this level  MUIS-C maps  delivery firmPrice, listPrice and  expectedPrice. DE does not maps this information at this level.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deliveryMethod" type="DeliveryMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Represents the delivery method requested for the DeliveryUnit. It maps MUIS-C DeliveryUnitdescriptor "DeliveryMethod" plus the relevant UserInformation (DeliveryAddress / DeliveryEmailAddress / etc..).  In DE this information are presented at #DORD level for what concern the information related to FTP address an mail / email address, at #ITEM level for what concern the delivery method that shall be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billing" type="Billing" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Information related to billing method. It maps MUIS-C DeliveryUnitdescriptor PaymentMethod plus related payment ionformation such as Credit card info. DE does not have this kind of information in its interfaces.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="packages" type="PackageSpec" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="otherInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="deliveryUnitStatus" type="OrderStatusInfo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps MUIS-C DeliveryUnitDescriptor 'DeliveryUnitStatus' and 'DeliveryUnitStatusDescription' parameters</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="deliveryUnitRemark" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Its mapping depends on the interface: 1)customer2OrderDesk 2)orderDesk2Customer 3)orderDesk2Processing 4)processing2OrderDesk.   With the first meaning it maps also DE #DORD 'Remarks'</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="foreseenDeliveryDate" type="DateTime.iso8601" minOccurs="0"/>
						<xsd:element name="latestAcceptedDeliveryDate" type="DateTime.iso8601" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Date by when the delivery unit has to be delivered. It maps MUIS-C DeliveryUnitDescriptor "LatestAcceptedDeliveryDate" and DE #ITEM "Deadline"</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="additionalParcelLabelInfo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Additional info to be inserted on the physical package. Used only by DE #DORD interface.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="qualityOfService" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps DE #ITEM 'SL' (ServiceLevel)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="priority" type="xsd:int" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Priority of the order. It maps MUIS-C OrderItem "OrderItemPriority" and DE #ITEM "Pr".</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="userCode" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>If present it will be passed to CUS in order to manage multiple addresses for the same user.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="addressNumber" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>If present it will be passed to CUS in order to manage multiple addresses for the same user.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  Package level-->
	<xsd:complexType name="PackageSpec">
		<xsd:sequence>
			<xsd:element name="packageId" type="PackageId">
				<xsd:annotation>
					<xsd:documentation>Identify the specific package. It maps MUIS-C PackageDescriptor PackageId. DE does not have the package level within its interface but it maps DE #ITEM 'Set'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="package">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="predefinedPackage" type="PredefinedPackage">
							<xsd:annotation>
								<xsd:documentation>It is not used for MEH.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="adHocPackage" type="AdHocPackage"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="packageMedium" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identification of a medium. It maps MUIS-C  'DeliveryMedium' and 'MediumFormattingOption' in OrderItemDescriptor and DE #ITEM "Med"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="packageKByteSize" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="packagePrice" type="PriceInfoLowLevel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Package price </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="packageRemark" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Its mapping depends on the interface: 1)customer2orderDesk 2)orderDesk2Customer 3)orderDesk2Processing 4)processing2OrderDesk</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="packageLabel" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps DE #DORD 'Additional media label'.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="packageCopies" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps MUIS-C PackageDescriptor 'packageCopies' and the number that could be inside  DE #ITEM 'Set' parameter</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="mediaInPackage" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdHocPackage">
		<xsd:sequence>
			<xsd:element name="orderItem" type="OrderItem" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PredefinedPackage">
		<xsd:sequence>
			<xsd:element name="collectionId" type="xsd:string"/>
			<xsd:element name="orderItem" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="OrderItem"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="otherInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  OrderItem level  -->
	<xsd:complexType name="OrderItem">
		<xsd:sequence>
			<xsd:element name="orderItemId" type="OrderItemId"/>
			<xsd:element name="productId" type="ProductId">
				<xsd:annotation>
					<xsd:documentation>It identifies the ordered product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productPrice" type="PriceInfoLowLevel" minOccurs="0"/>
			<xsd:element name="productDeliveryOptions" type="ProductDeliveryOptions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It contains delivery options for the  product.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingOptions" type="ProcessingOptions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It specifies the processing options to be applied on the product before delivery.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sceneSelectionOptions" type="SceneSelectionOptions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It specifies the selection of the scene from the product that is to be delivered.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderStatusInfo" type="OrderItemStatusInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It indicates the status of the order item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productInfo" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="acquisitionStation" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Acquisition station code.  It maps MUIS-C AcquisitionDescriptor "AcquisitionStation" and DE #ITEM "Station(s)"  </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="spatialCoverage" type="SpatialCoverage" minOccurs="0"/>
									<xsd:element name="passCoverage" type="PassCoverage" minOccurs="0"/>
									<xsd:element name="passEquatorXLongitude" type="xsd:float" minOccurs="0"/>
									<xsd:element name="passDirection" type="PassDirectionEnum" minOccurs="0"/>
									<xsd:element name="verticalCoverage" type="VerticalSelection" minOccurs="0"/>
									<xsd:element name="regionId" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="missionPhaseId" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indication of the mission phase. It maps MUIS-C AcquisitionDescriptor "MissionPhaseId" and last char of DE #ITEM "Mission"</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productStatus" type="ProductStatusEnum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Status of the product: It maps MUIS-C OrderItem "ProductStatus"</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="productSource" type="ProductSource" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Source (terminalCollectionId/Supplier) for the product. It maps MUIS-C OrderItemDescriptor "ProductSource"</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="rejectionInfo" type="RejectionInfo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It maps DE #ITEM 'RejC' and 'RejN'</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="replacementInfo" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It contains an customerOrderItemId</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="replacesInfo" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>It contains an OHS_OrderItemId</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="processingFacility" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Suggested facility</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderItemRemark" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Its mapping depends on the interface: 1)customer2OrderDesk 2)orderDesk2Customer 3)orderDesk2Processing 4)processing2OrderDesk</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="qualityLevel" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Quality information. It maps  DE #DORD 'ICUD D' (Quality_Level)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  User level -->
	<xsd:complexType name="UserInformation">
		<xsd:sequence>
			<xsd:element name="userId">
				<xsd:annotation>
					<xsd:documentation>It maps the DE #UORD 'User Id' parameter and  the  MUIS-C OrderDescriptor 'CustomerId'</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userName" type="Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not needed by MUIS-C. Used  by DE in #DORD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userAddress" type="PostalAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not needed in MUIS-C at OrderDescriptor level. used by DE #DORD interface. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companyRef" type="CompanyReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Not needed in MUIS-C. used by DE #DORD interface.  For its definition the MUIS-C related attribute length has been used.                             </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="telNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telephone Number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="faxNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="emailAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="72"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="networkAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not used at this level</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="vatRegistrationNo" type="VatRegistrationNo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps DE #DORD 'VAT' parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  Complex types definition  -->
	<xsd:complexType name="AlongShiftSpecification">
		<xsd:sequence>
			<xsd:element name="shiftUnitId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A=Absolute, S=Seconds</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shift" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlongSizeSpecification">
		<xsd:sequence>
			<xsd:element name="alongSizeUnitId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A=Absolute, S=Seconds</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alongSize" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Billing">
		<xsd:sequence>
			<xsd:element name="paymentMethod">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PaymentMethod"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="customerPONumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VATRegistrationNo" type="VatRegistrationNo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BoundingRectangle">
		<xsd:sequence>
			<xsd:element name="northWestPoint" type="Point"/>
			<xsd:element name="southEastPoint" type="Point"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BoundingRectangleSelection">
		<xsd:sequence>
			<xsd:element name="westBoundingCoordinate" type="xsd:string"/>
			<xsd:element name="eastBoundingCoordinate" type="xsd:string"/>
			<xsd:element name="northBoundingCoordinate" type="xsd:string"/>
			<xsd:element name="southBoundingCoordinate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Circle">
		<xsd:sequence>
			<xsd:element name="center" type="Point"/>
			<xsd:element name="radius" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The unit for radius is the kilometer ('km')</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompanyReference">
		<xsd:sequence>
			<xsd:element name="organisation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Organisation Name</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="department" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Department or Section</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditCardInfo">
		<xsd:sequence>
			<xsd:element name="creditCardInstitute">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nameOfCard">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cardNumber">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="expirationDate" type="DateTime.iso8601"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryMethod">
		<xsd:choice>
			<xsd:element name="eMail" type="EmailInfo"/>
			<xsd:element name="ftp" type="FtpDelivery"/>
			<xsd:element name="mail" type="DeliveryAddress"/>
			<xsd:element name="on-line" type="xsd:string"/>
			<xsd:element name="otherInfo" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DeliveryUnitId">
		<xsd:sequence>
			<xsd:element name="OHS_DeliveryUnitId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="customerDeliveryUnitId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps the MUIS-C DeliveryUnitDescriptor 'DeliveryUnitId' parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingDeliveryUnitId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It is the ProcessingDeliveryUnitId. The identificator assigned by processing facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryAddress">
		<xsd:sequence>
			<xsd:element name="postalAddress" type="PostalAddress"/>
			<xsd:element name="recipient" type="Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C DeiveryAddress 'c/o' and InvoiceAddress 'c/o'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="companyRef" type="CompanyReference" minOccurs="0"/>
			<xsd:element name="telNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telephone Number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailInfo">
		<xsd:sequence>
			<xsd:element name="address">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="72"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="attachmentType" type="AttachmentTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maps different types of attachment supported by DE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FormattedSceneSelectionOptions">
		<xsd:annotation>
			<xsd:documentation> Scene selected over a browse image</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sceneType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>It is an extensible list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="horizontalSelection" minOccurs="0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="HorizontalSelection"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="verticalSelection" type="VerticalSelection" minOccurs="0"/>
			<xsd:element name="temporalSelection" type="TemporalSelection" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FtpDelivery">
		<xsd:sequence>
			<xsd:element name="transferDirection" type="TransferDirectionEnum"/>
			<xsd:element name="ftpAddress">
				<xsd:annotation>
					<xsd:documentation>ftp URL containing also DE interface directory, username, password information</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="emailNotificationAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GPolygon">
		<xsd:sequence>
			<xsd:element name="point" type="Point" minOccurs="3" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HorizontalSelection">
		<xsd:choice>
			<xsd:element name="rectangleSceneSelection" type="RectangleSceneSelection"/>
			<xsd:element name="boundingRectangleSelection" type="BoundingRectangleSelection">
				<xsd:annotation>
					<xsd:documentation>Not used for MEH</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="polygonSelection" type="PolygonSelection"/>
			<xsd:element name="circleSelection" type="Circle">
				<xsd:annotation>
					<xsd:documentation>Not used for MEH</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IdentificationInformation">
		<xsd:sequence>
			<xsd:element name="customerOrderId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C OrderDescriptor 'OrderId' and DE #DORD 'Ref DuId#' parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OHS_OrderId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It identifies the order in OHS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderUserReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps the MUIS-C OrderDescriptor 'OrderUserReference' (it is the end user orderId)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="orderName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps the MUIS-C OrderDescriptor 'OrderName' parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="processingOrderId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It is  identificator assigned by processing facility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderItemId">
		<xsd:sequence>
			<xsd:element name="OHS_OrderItemId" type="xsd:string"/>
			<xsd:element name="customerOrderItemId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> It map the MUIS-C OrderItemDescriptor  "OrderItemId" and the DE #ITEM "Item".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingOrderItemId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It is processingOrderItemId, the identifier of the orderItem  inside the processing system.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderStatusInfo">
		<xsd:sequence>
			<xsd:element name="orderState" type="OrderStatusEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C Status </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalStatusInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>it maps MUIS-C StatusDescription </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderItemStatusInfo">
		<xsd:sequence>
			<xsd:element name="orderState">
				<xsd:annotation>
					<xsd:documentation>It maps the MUIS-C status and DE #ITEM 'St' (Status)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="staticState" type="OrderItemStatusStaticEnum"/>
						<xsd:element name="dynamicState" type="OrderItemStatusDynamicEnum"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="additionalStatusInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C OrderItemDescriptor "OrderItemStatusDescription" and DE #ITEM "RejN" (RejectionNote)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStatusUpdate" type="DateTime.iso8601" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date/Time of this status change</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageId">
		<xsd:sequence>
			<xsd:element name="OHS_PackageId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="customerPackageId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps the MUIS-C PackageDescriptor PackageId' parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingPackageId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PassCoverage">
		<xsd:sequence>
			<xsd:element name="passStartEquatorXDeltaTime">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="passStopEquatorXDeltaTime">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentMethod">
		<xsd:sequence>
			<xsd:element name="billInvoice" type="DeliveryAddress" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="prepay" type="xsd:string"/>
				<xsd:element name="depositAccount" type="xsd:string"/>
				<xsd:element name="privateKnown" type="xsd:string"/>
				<xsd:element name="privateNotKnown" type="xsd:string"/>
				<xsd:element name="creditCard">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="CreditCardInfo"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="creditCard-pre-supplied" type="xsd:string"/>
				<xsd:element name="quota" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Point">
		<xsd:sequence>
			<xsd:element name="latitude" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Its format is: [+|-]nn.nn </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="longitude" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Its format is: nnn.nn</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PolygonSelection">
		<xsd:sequence>
			<xsd:element name="geoPolygon" type="GPolygon" minOccurs="0"/>
			<xsd:element name="mapProjection" type="MapProjectionEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PostalAddress">
		<xsd:sequence>
			<xsd:element name="streetAddress">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="city">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="state">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="postalCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="country">
				<xsd:annotation>
					<xsd:documentation>ISO-3166 2-char  is used (even if 3 chars are available)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="postBox" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceInfo">
		<xsd:annotation>
			<xsd:documentation>Price Information.  It maps both MUIS-C price  (Order, DeliveryUnit, Package or OrderItem) and DE (#DORD, #ITEM) price and royalty information. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="priceExpirationDate" type="DateTime.iso8601" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C OrderDescriptor 'OfferExpirationDate' parameter</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalPriceInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="price" type="PriceType" minOccurs="0"/>
			<xsd:element name="listPrice" type="PriceType" minOccurs="0"/>
			<xsd:element name="expectedPrice" type="PriceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceInfoLowLevel">
		<xsd:sequence>
			<xsd:element name="additionalPriceInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="price" type="PriceType" minOccurs="0"/>
			<xsd:element name="listPrice" type="PriceType" minOccurs="0"/>
			<xsd:element name="expectedPrice" type="PriceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:sequence>
			<xsd:element name="refCurrency" type="Currency.iso4217"/>
			<xsd:element name="refAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userCurrency" type="Currency.iso4217" minOccurs="0"/>
			<xsd:element name="userAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessingOptions">
		<xsd:choice>
			<xsd:element name="formattedProcessingOptions" type="ProcessingOptionSelection" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ProcessingOptionSelection">
		<xsd:sequence>
			<xsd:element name="processingOptionName" type="xsd:string"/>
			<xsd:element name="processingOptionSelectedValues" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDeliveryOptions">
		<xsd:sequence>
			<xsd:element name="productByteSize" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It contains the size of the product in bytes. It maps the  MUIS-C parameter "DataSize" in OrderItemDescriptor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productFormat" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It contains the MUIS-C "Format" Processing Option</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productCompression" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It contains the MUIS-C "Compression" Processing Option.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherInfo" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not Used</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductId">
		<xsd:sequence>
			<xsd:element name="productCodeId" type="ProductCodeEnum">
				<xsd:annotation>
					<xsd:documentation>Product type code. It maps MUIS-C AcquisitionDescriptor "ProductCodeId" and DE #ITEM "Product Code"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="missionId" type="MissionIdEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unique code for the satellite/mission. It maps the MUIS-C Acquisitiondescriptor 'Satellite' (PlatformId,SatelliteNumber) and DE #ITEM 'Mission'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sensorId" type="SensorIdEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identification of the sensor.  It maps MUIS-C AcquisitionDescriptor "SensorId" and  the second part of DE #ITEM "Mission"  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orbit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Absolute orbit number. It maps MUIS-C AcquisitionDescriptor "Orbit" and DE #ITEM "Orbit" </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="16777216"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="track" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WRS Track number. It maps MUIS-C AcquisitionDescriptor "Track" and DE #ITEM "Track"</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="65535"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="frame" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WRS frame number. It maps MUIS-C AcquisitionDescriptor "Frame" and DE #ITEM "Frame" </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="65535"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="swathId" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="temporalCoverage" type="TemporalSelection" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date/time for the temporal coverage. It maps MUIS-C AcquisitionDescriptor "TemporalCoverage(Start)" and  DE #ITEM "Date"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sceneCentre" type="Point" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Selected scene centre coordinates.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productOrderId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps MUIS-C AcquisitionDescriptor 'ProductOrderId' and DE #ITEM 'Scene'</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductSource">
		<xsd:sequence>
			<xsd:element name="provider" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="facility" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="collectionId" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="supplier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Name">
		<xsd:sequence>
			<xsd:element name="title" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps DE #DORD 'TITLE' parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="firstName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps DE #DORD 'FIRST_NAME' parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lastName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps DE #DORD 'LAST_NAME' parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RectangleSceneSelection">
		<xsd:sequence>
			<xsd:element name="acrossGrid">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="alongGridUnitType" type="xsd:string"/>
			<xsd:element name="alongGrid">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="acrossSize">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="alongSize">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="acrossCenter">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="alongCenter">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="-2147483648"/>
						<xsd:maxInclusive value="2147483647"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="alongOrigin" type="AlongOriginEnum" default="0" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Used only by MUIS-C </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RejectionInfo">
		<xsd:annotation>
			<xsd:documentation>It maps DE #ITEM 'RejC' and 'RejN'</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rejectionCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rejectionNote" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SceneSelectionOptions">
		<xsd:sequence>
			<xsd:element name="formattedSceneSelectionOptions" type="FormattedSceneSelectionOptions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Scene selected over a browse image</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unformattedSceneSelectionOptions" type="UnformattedSceneSelectionOptions" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpatialCoverage">
		<xsd:choice>
			<xsd:element name="boundingRectangle" type="BoundingRectangle"/>
			<xsd:element name="circle" type="Circle"/>
			<xsd:element name="gPolygon" type="GPolygon"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TemporalSelection">
		<xsd:sequence>
			<xsd:element name="startDateTime">
				<xsd:simpleType>
					<xsd:restriction base="DateTime.iso8601"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="endDateTime" type="DateTime.iso8601"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnformattedSceneSelectionOptions">
		<xsd:sequence>
			<xsd:element name="sceneCentre" type="Point" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps #ITEM 'Lat' and 'Long' (Centre Latitude and Longitude of floating frame) and the MUIS-C OrderItemDescriptor 'OrderItemSceneCentre'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subSceneIdentification" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>(e.g. 'quarter number')</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alongShiftSpecification" type="AlongShiftSpecification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>It maps DE #ITEM 'DN' </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alongSizeSpecification" type="AlongSizeSpecification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Used for multi-scenes product. It maps DE #ITEM 'NOF' (Number_Of_frames)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VerticalSelection">
		<xsd:sequence>
			<xsd:element name="lowAltitude" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>The unit for lowAltitude is the Meter ('m')</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="highAltitude" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>The unit for highAltitude is the Meter ('m')</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--=====================================  Simple types definition -->
	<xsd:simpleType name="Currency.iso4217">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTime.iso8601">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VatRegistrationNo">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Element Section-->
	<!--=====================================  Simple types and base elements start from here after  -->
	<xsd:simpleType name="ActionEnum">
		<xsd:annotation>
			<xsd:documentation>List of valid actions allowed</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="orderEstimate"/>
			<xsd:enumeration value="orderQuoteAndSubmit"/>
			<xsd:enumeration value="orderMonitor"/>
			<xsd:enumeration value="orderCancel"/>
			<xsd:enumeration value="orderDetail"/>
			<xsd:enumeration value="orderAccount"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlongOriginEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="s"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Mime"/>
			<xsd:enumeration value="Uuencoded"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoverageRequiredEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Full optimized (best) coverage"/>
			<xsd:enumeration value="Full coverage required"/>
			<xsd:enumeration value="any coverage"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryPolicyEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Only at end of last observation"/>
			<xsd:enumeration value="At end of each observation"/>
			<xsd:enumeration value="As product are becoming available"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MapProjectionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Plate-Caree"/>
			<xsd:enumeration value="Geodesic"/>
			<xsd:enumeration value="AcquisitionFootprint"/>
			<xsd:enumeration value="UTM"/>
			<xsd:enumeration value="GAUSS_CONFORMAL"/>
			<xsd:enumeration value="GAUSS_KRUGER"/>
			<xsd:enumeration value="NONE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MissionIdEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ENVISAT"/>
			<xsd:enumeration value="ERS-1"/>
			<xsd:enumeration value="ERS-2"/>
			<xsd:enumeration value="JERS-1"/>
			<xsd:enumeration value="Landsat-1"/>
			<xsd:enumeration value="Landsat-2"/>
			<xsd:enumeration value="Landsat-3"/>
			<xsd:enumeration value="Landsat-4"/>
			<xsd:enumeration value="Landsat-5"/>
			<xsd:enumeration value="Landsat-7"/>
			<xsd:enumeration value="MOS-1B"/>
			<xsd:enumeration value="NIMBUS-7"/>
			<xsd:enumeration value="NOAA-7"/>
			<xsd:enumeration value="NOAA-8"/>
			<xsd:enumeration value="NOAA-9"/>
			<xsd:enumeration value="NOAA-10"/>
			<xsd:enumeration value="NOAA-11"/>
			<xsd:enumeration value="NOAA-12"/>
			<xsd:enumeration value="NOAA-14"/>
			<xsd:enumeration value="NOAA-15"/>
			<xsd:enumeration value="NOAA-16"/>
			<xsd:enumeration value="NOAA-17"/>
			<xsd:enumeration value="NOAA-18"/>
			<xsd:enumeration value="SeaStar"/>
			<xsd:enumeration value="IRS-P3"/>
			<xsd:enumeration value="AQUA"/>
			<xsd:enumeration value="TERRA"/>
			<xsd:enumeration value="SPOT-4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderItemStatusDynamicEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BeingEstimated"/>
			<xsd:enumeration value="BeingQuoted"/>
			<xsd:enumeration value="BeingProcessed"/>
			<xsd:enumeration value="BeingCancelled"/>
			<xsd:enumeration value="BeingOnHold"/>
			<xsd:enumeration value="BeingDeleted"/>
			<xsd:enumeration value="BeingProcessed (WaitScheduling)"/>
			<xsd:enumeration value="BeingProcessed (Planned)"/>
			<xsd:enumeration value="BeingProcessed (WaitPlanning)"/>
			<xsd:enumeration value="BeingProcessed (Acquired)"/>
			<xsd:enumeration value="BeingProcessed (DataBeingTransferred)"/>
			<xsd:enumeration value="BeingProcessed (DataReadyAtProcessingFacility)"/>
			<xsd:enumeration value="BeingProcessed (WaitProduction)"/>
			<xsd:enumeration value="BeingProcessed (InProduction)"/>
			<xsd:enumeration value="BeingProcessed (ProductionCompleted)"/>
			<xsd:enumeration value="BeingProcessed (BeingShipped)"/>
			<xsd:enumeration value="BeingProcessed (RejectBeingAnalysed)"/>
			<xsd:enumeration value="BeingProcessed (QualityControl)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderItemStatusStaticEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Estimated"/>
			<xsd:enumeration value="NotValid"/>
			<xsd:enumeration value="Cancelled"/>
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="Terminated"/>
			<xsd:enumeration value="Deleted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderScopeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:enumeration value="interferometry"/>
			<xsd:enumeration value="multi-temporal"/>
			<xsd:enumeration value="mosaic"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderSourceEnum">
		<xsd:annotation>
			<xsd:documentation>List of systems from which the order can be posted. This list is extensible</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MUIS"/>
			<xsd:enumeration value="OHS"/>
			<xsd:enumeration value="DESCW"/>
			<xsd:enumeration value="Eurimage"/>
			<xsd:enumeration value="Spotimage"/>
			<xsd:enumeration value="EMMA"/>
			<xsd:enumeration value="SARCOM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderStatusEnum">
		<xsd:annotation>
			<xsd:documentation>List of Valid Statii for the Delivery Unit as defined in MUIS-C</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BeingEstimated"/>
			<xsd:enumeration value="Estimated"/>
			<xsd:enumeration value="BeingQuoted"/>
			<xsd:enumeration value="NotValid"/>
			<xsd:enumeration value="BeingProcessed"/>
			<xsd:enumeration value="Cancelled"/>
			<xsd:enumeration value="BeingCancelled"/>
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="BeingOnHold"/>
			<xsd:enumeration value="Terminated"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="product order"/>
			<xsd:enumeration value="open order"/>
			<xsd:enumeration value="acquisition request"/>
			<xsd:enumeration value="accounting"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassDirectionEnum">
		<xsd:annotation>
			<xsd:documentation>List of valid Pass Direction Values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="D"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProductCodeEnum">
		<xsd:annotation>
			<xsd:documentation>List of ProductCodeId (to be provided by ESA)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SAR"/>
			<xsd:enumeration value="SAR_RAW"/>
			<xsd:enumeration value="SAR_PRI"/>
			<xsd:enumeration value="SAR_GEC"/>
			<xsd:enumeration value="SAR_GTC"/>
			<xsd:enumeration value="SAR_SLC"/>
			<xsd:enumeration value="ATS_GBT"/>
			<xsd:enumeration value="ATS_GST"/>
			<xsd:enumeration value="ATS_PST"/>
			<xsd:enumeration value="SWM_FDC"/>
			<xsd:enumeration value="WSC_FDC"/>
			<xsd:enumeration value="ALT_FDC"/>
			<xsd:enumeration value="ALT_OPR"/>
			<xsd:enumeration value="ALT_WAP"/>
			<xsd:enumeration value="ALT_SSH"/>
			<xsd:enumeration value="ALT_TOP"/>
			<xsd:enumeration value="ORB_PRL"/>
			<xsd:enumeration value="ORB_PRC"/>
			<xsd:enumeration value="ORB_EGM"/>
			<xsd:enumeration value="MWS_VLC"/>
			<xsd:enumeration value="MWS_MBT"/>
			<xsd:enumeration value="GOM_L13"/>
			<xsd:enumeration value="GOM_L22"/>
			<xsd:enumeration value="JSAR"/>
			<xsd:enumeration value="OPS"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="ETM"/>
			<xsd:enumeration value="MSS_SYC"/>
			<xsd:enumeration value="AVHRR"/>
			<xsd:enumeration value="CZCS"/>
			<xsd:enumeration value="SeaWiFS"/>
			<xsd:enumeration value="MOS_1B"/>
			<xsd:enumeration value="MODIS_1B"/>
			<xsd:enumeration value="ASA_EC__0P"/>
			<xsd:enumeration value="ASA_MS__0P"/>
			<xsd:enumeration value="ASA_IM"/>
			<xsd:enumeration value="ASA_IM__0P"/>
			<xsd:enumeration value="ASA_IMS_1P"/>
			<xsd:enumeration value="ASA_IMP_1P"/>
			<xsd:enumeration value="ASA_IMG_1P"/>
			<xsd:enumeration value="ASA_IMM_1P"/>
			<xsd:enumeration value="ASA_IM__BP"/>
			<xsd:enumeration value="ASAR_WS"/>
			<xsd:enumeration value="ASA_WS__0P"/>
			<xsd:enumeration value="ASA_WSM_1P"/>
			<xsd:enumeration value="ASA_WS__BP"/>
			<xsd:enumeration value="ASA_GM"/>
			<xsd:enumeration value="ASA_GM__0P"/>
			<xsd:enumeration value="ASA_GM1_1P"/>
			<xsd:enumeration value="ASA_GM__BP"/>
			<xsd:enumeration value="ASA_AP"/>
			<xsd:enumeration value="ASA_APH_0P"/>
			<xsd:enumeration value="ASA_APV_0P"/>
			<xsd:enumeration value="ASA_APC_0P"/>
			<xsd:enumeration value="ASA_APM_1P"/>
			<xsd:enumeration value="ASA_APS_1P"/>
			<xsd:enumeration value="ASA_APP_1P"/>
			<xsd:enumeration value="ASA_APG_1P"/>
			<xsd:enumeration value="ASA_AP__BP"/>
			<xsd:enumeration value="ASA_WV"/>
			<xsd:enumeration value="ASA_WV__0P"/>
			<xsd:enumeration value="ASA_WVI_1P"/>
			<xsd:enumeration value="ASA_WVS_1P"/>
			<xsd:enumeration value="ASA_WVW_2P"/>
			<xsd:enumeration value="ATS_NL__0P"/>
			<xsd:enumeration value="ATS_TOA_1P"/>
			<xsd:enumeration value="ATS_NR__2P"/>
			<xsd:enumeration value="ATS_AR__2P"/>
			<xsd:enumeration value="ATS_MET_2P"/>
			<xsd:enumeration value="ATS_AST_BP"/>
			<xsd:enumeration value="RA2_CAL_0P"/>
			<xsd:enumeration value="RA2_ME__0P"/>
			<xsd:enumeration value="RA2_MW"/>
			<xsd:enumeration value="RA2_MW__1P"/>
			<xsd:enumeration value="RA2_MWS_2P"/>
			<xsd:enumeration value="RA2_MWG_2P"/>
			<xsd:enumeration value="RA2_WWV_2PR"/>
			<xsd:enumeration value="RA2_FDG_2P"/>
			<xsd:enumeration value="RA2_IDG_2P"/>
			<xsd:enumeration value="RA2_GDR_2P"/>
			<xsd:enumeration value="MWR_NL__0P"/>
			<xsd:enumeration value="GOM_"/>
			<xsd:enumeration value="GOM_NL__0P"/>
			<xsd:enumeration value="GOM_MM__0P"/>
			<xsd:enumeration value="GOM_TRA_1P"/>
			<xsd:enumeration value="GOM_LIM_1P"/>
			<xsd:enumeration value="GOM_RR__2P"/>
			<xsd:enumeration value="GOM_EXT_2P"/>
			<xsd:enumeration value="GOM_NL__2P"/>
			<xsd:enumeration value="MER_CA__0P"/>
			<xsd:enumeration value="MER_RV__0P"/>
			<xsd:enumeration value="MER_RR"/>
			<xsd:enumeration value="MER_RR__0P"/>
			<xsd:enumeration value="MER_RR__1P"/>
			<xsd:enumeration value="MER_RR__2P"/>
			<xsd:enumeration value="MER_LRC_2P"/>
			<xsd:enumeration value="MER_RRC_2P"/>
			<xsd:enumeration value="MER_RRV_2P"/>
			<xsd:enumeration value="MER_RR__BP"/>
			<xsd:enumeration value="MER_FR"/>
			<xsd:enumeration value="MER_FR__0P"/>
			<xsd:enumeration value="MER_FR__1P"/>
			<xsd:enumeration value="MER_FR__2P"/>
			<xsd:enumeration value="MIP_RW__0P"/>
			<xsd:enumeration value="MIP_LS__0P"/>
			<xsd:enumeration value="MIP_NL"/>
			<xsd:enumeration value="MIP_NL__0P"/>
			<xsd:enumeration value="MIP_NL__1P"/>
			<xsd:enumeration value="MIP_NL__2P"/>
			<xsd:enumeration value="MIP_NLE_2P"/>
			<xsd:enumeration value="SCI_NL"/>
			<xsd:enumeration value="SCI_NL__0P"/>
			<xsd:enumeration value="SCI_NL__1P"/>
			<xsd:enumeration value="SCI_NL__2P"/>
			<xsd:enumeration value="SCI_OL__2P"/>
			<xsd:enumeration value="SCI_RV__2P"/>
			<xsd:enumeration value="DOR_NAV_0P"/>
			<xsd:enumeration value="DOR_DOP_0P"/>
			<xsd:enumeration value="DOR_DOP_1P"/>
			<xsd:enumeration value="TLM_HK__0P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProductStatusEnum">
		<xsd:annotation>
			<xsd:documentation>Lit of valid Product Status supported</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Visible"/>
			<xsd:enumeration value="Planned"/>
			<xsd:enumeration value="Acquired"/>
			<xsd:enumeration value="Archived"/>
			<xsd:enumeration value="Produced"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SensorIdEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AATSR"/>
			<xsd:enumeration value="AMI/SAR/Image"/>
			<xsd:enumeration value="AMI/SAR/wave"/>
			<xsd:enumeration value="AMI/scatterometer"/>
			<xsd:enumeration value="ASAR"/>
			<xsd:enumeration value="ASAR/IM (Image Mode)"/>
			<xsd:enumeration value="ASAR/AP (Alternating Polarization Mode)"/>
			<xsd:enumeration value="ASAR/WS (Wide Swath Mode)"/>
			<xsd:enumeration value="ASAR/GM (Global Monitoring Mode)"/>
			<xsd:enumeration value="ASAR/WV (Wave Mode)"/>
			<xsd:enumeration value="ATSR"/>
			<xsd:enumeration value="ATSR-2"/>
			<xsd:enumeration value="AVHRR"/>
			<xsd:enumeration value="CZCS"/>
			<xsd:enumeration value="DORIS"/>
			<xsd:enumeration value="ETM+"/>
			<xsd:enumeration value="GOME"/>
			<xsd:enumeration value="GOMOS"/>
			<xsd:enumeration value="HRVIR"/>
			<xsd:enumeration value="JERS SAR"/>
			<xsd:enumeration value="MERIS"/>
			<xsd:enumeration value="MESSR"/>
			<xsd:enumeration value="MIPAS"/>
			<xsd:enumeration value="MODIS"/>
			<xsd:enumeration value="MOS"/>
			<xsd:enumeration value="MSR"/>
			<xsd:enumeration value="MSS"/>
			<xsd:enumeration value="OPS"/>
			<xsd:enumeration value="RA-2/MWR"/>
			<xsd:enumeration value="RA/LRR"/>
			<xsd:enumeration value="RA/MWR"/>
			<xsd:enumeration value="RBV"/>
			<xsd:enumeration value="SCIAMACHY"/>
			<xsd:enumeration value="SeaWiFS"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="VTIR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusUpdateOptionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="manual"/>
			<xsd:enumeration value="automatic"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransferDirectionEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="push"/>
			<xsd:enumeration value="pull"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
