branches/GENESIS/9.0/Pep/web/WEB-INF/schemas/toolboxConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 -
 -  Developed By:      Intecs  S.P.A.
 -  File Name:         $RCSfile: toolboxConfiguration.xsd,v $
 -  TOOLBOX Version:   $Name: HEAD $
 -  File Revision:     $Revision: 1.1.1.1 $
 -  Revision Date:     $Date: 2006/06/13 15:02:32 $
 -
 --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pisa.intecs.it/mass/toolbox/toolboxConfiguration" xmlns="http://pisa.intecs.it/mass/toolbox/toolboxConfiguration" xmlns:com="http://pisa.intecs.it/mass/toolbox/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:simpleType name="ToolboxTime">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]+[smhdw]|($[a-zA-Z0-9]+)"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LogLevelType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="DEBUG"/>
            <xsd:enumeration value="INFO"/>
            <xsd:enumeration value="WARN"/>
            <xsd:enumeration value="ERROR"/>
            <xsd:enumeration value="FATAL"/>
            <xsd:enumeration value="OFF"/>
        </xsd:restriction>
    </xsd:simpleType>
 <xsd:element name="toolboxConfiguration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FTPServer">
          <xsd:complexType>
            <xsd:attribute default="21" name="port" type="PortNumberType"/>
            <xsd:attribute name="adminDir" type="xsd:string" use="required"/>
            <xsd:attribute name="adminPassword" type="xsd:string" use="required"/>
            <xsd:attribute default="0" name="poolPort" type="xsd:string"/>
            <xsd:attribute name="serverHost" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="errorReport">
          <xsd:complexType>
            <xsd:attribute name="smtpServer" type="xsd:string" use="required"/>
            <xsd:attribute name="sender" type="xsd:string" use="required"/>
            <xsd:attribute name="recipients" type="xsd:string" use="required"/>
            <xsd:attribute name="mailError" type="xsd:string" use="required"/>
            <xsd:attribute name="companyName" type="xsd:string" use="required"/>
            <xsd:attribute name="companyContact" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
         <xsd:element minOccurs="1" name="ebRR">
          <xsd:complexType>
            <xsd:attribute name="repoHomeDir" type="xsd:string" use="optional" default="/tmp"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute default="false" name="queuing" type="xsd:boolean"/>
      <xsd:attribute default="true" name="inputMessagesLog" type="xsd:boolean"/>
      <xsd:attribute default="true" name="outputMessagesLog" type="xsd:boolean"/>
      <xsd:attribute name="massSOAPService" type="xsd:string" use="optional"/>
      <xsd:attribute name="logDir" type="xsd:string" use="required"/>
      <xsd:attribute default="INFO" name="logLevel" type="LogLevelType"/>
      <xsd:attribute default="&lt;%p thread=&quot;%t&quot; date=&quot;%d{yyyy-MMM-dd HH:mm:ss}&quot;&gt;%m&lt;/%p&gt;%n" name="logPattern" type="xsd:string"/>
      <xsd:attribute default="100KB" name="logFileSize" type="xsd:string"/>
      <xsd:attribute name="apacheAddress" type="xsd:string" use="required"/>
      <xsd:attribute name="apachePort" type="xsd:string" use="required"/>
      <xsd:attribute name="tomcatPort" type="PortNumberType" use="required"/>
      <xsd:attribute default="" name="proxyPort" type="xsd:string"/>
      <xsd:attribute default="" name="proxyHost" type="xsd:string"/>
      <xsd:attribute name="tomcatSSLPort" type="xsd:string" use="required"/>
      <xsd:attribute default="true" name="firstTimeCheck" type="xsd:boolean"/>
      <xsd:attribute default="true" name="toolboxVersionCheck" type="xsd:boolean"/>
      <xsd:attribute default="true" name="schemaVersionCheck" type="xsd:boolean"/>
      <xsd:attribute default="true" name="startInfoCenter" type="xsd:boolean"/>
      <xsd:attribute default="services.eoportal.org" name="portalSSE" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="PortNumberType">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:maxInclusive value="65535"/>
        </xsd:restriction>
      </xsd:simpleType>
</xsd:schema>
