web/WEB-INF/schemas/adminUsers.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 -
 -  Developed By:      Intecs  S.P.A.
 -  File Name:         $RCSfile: adminUsers.xsd,v $
 -  TOOLBOX Version:   $Name: HEAD $
 -  File Revision:     $Revision: 1.1.1.1 $
 -  Revision Date:     $Date: 2006/06/13 15:02:33 $
 -
 --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pisa.intecs.it/mass/toolbox/adminUsers" xmlns="http://pisa.intecs.it/mass/toolbox/adminUsers" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="adminUsers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="adminUser">
					<xsd:complexType>
						<xsd:attribute name="userName" type="xsd:string" use="required"/>
						<xsd:attribute name="password" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>