branches/ESA/8.0/TestEnvironment/TS_13/TS_13_01/Eoli_Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Simone Gianfranceschi (ESA - European Space Agency) -->
<!-- 	File			:	EOLI_Order.xsd 	 
	File Type	:	W3C Schema 	 	
	Date		:	25 July 2005 	 	
	Abstract	:	MUIS Schema 	
	Uses		:	 	
	Author		:	Nencioni Patrizia 	 	
	Issue		:	V2.2 -->
<xsd:schema targetNamespace="http://earth.esa.int/XML/eoli" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://earth.esa.int/XML/eoli" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:redefine schemaLocation="./eoli.xsd">
		<xsd:complexType name="MetadataType">
			<xsd:complexContent>
				<xsd:extension base="MetadataType">
					<xsd:sequence minOccurs="0">
						<xsd:element name="productServiceOptions" type="ProductServiceOptionsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ResponseType">
			<xsd:complexContent>
				<xsd:restriction base="ResponseType">
					<xsd:sequence>
						<xsd:element name="retrievedData" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Metadata" type="MetadataType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
								<xsd:attribute name="presentation" type="PresentationType"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="cursor" minOccurs="0"/>
						<xsd:element name="hits" type="xsd:nonNegativeInteger" nillable="false" minOccurs="0"/>
						<xsd:element ref="status"/>
						<xsd:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="SearchRequestType">
			<xsd:complexContent>
				<xsd:extension base="SearchRequestType">
					<xsd:sequence>
						<xsd:element ref="userInformation" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="PresentRequestType">
			<xsd:complexContent>
				<xsd:extension base="PresentRequestType">
					<xsd:sequence>
						<xsd:element ref="userInformation" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:redefine>
	<!-- ======================= Functions root element ============================-->
	<!-- ====================================================================== -->
	<xsd:element name="acquisitionOrderRequest" type="AcquisitionOrderRequestType"/>
	<xsd:element name="productOrderRequest" type="ProductOrderRequestType"/>
	<xsd:element name="orderMonitorRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="orderId"/>
					<xsd:element name="lastUpdate" type="DateTimeTypes"/>
				</xsd:choice>
				<xsd:element ref="userInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dataAccessRequest" type="DataAccessRequestType"/>
	<xsd:element name="orderResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="orderId" minOccurs="0"/>
				<xsd:element name="orderReference" minOccurs="0"/>
				<xsd:element ref="status"/>
				<xsd:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="orderMonitorResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="orderSpecification" type="OrderMonitorSpecification" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="status"/>
				<xsd:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dataAccessResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ftpURL" type="CharacterString" minOccurs="0"/>
				<xsd:element name="ftpUserName" type="CharacterString" minOccurs="0"/>
				<xsd:element name="ftpPassword" type="CharacterString" minOccurs="0"/>
				<xsd:element ref="status"/>
				<xsd:element name="errorMessage" type="NonNullStringType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ====================== Elements RE-Definition Section  ========================= -->
	<!-- ====================================================================== -->
	<!-- ====================== Elements Definition Section  ========================= -->
	<!-- ====================================================================== -->
	<xsd:element name="sceneCenter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="coordinates"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="programming">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="optionName">
					<xsd:simpleType>
						<xsd:restriction base="NonNullStringType">
							<xsd:maxLength value="40"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="optionSelectedValues" type="NonNullStringType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="userInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="userId" type="NonNullStringType"/>
				<xsd:element name="password" type="NonNullStringType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="orderAccount" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="NonNullStringType">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="alongGridUnitType">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="S"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="alongGrid" type="xsd:integer"/>
	<xsd:element name="acrossGrid" type="xsd:integer"/>
	<xsd:element name="orderId">
		<xsd:simpleType>
			<xsd:restriction base="NonNullStringType">
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 	<xsd:element name="deliveryMedium"> 		<xsd:simpleType> 			<xsd:restriction base="NonNullStringType"> 				<xsd:maxLength value="40"/> 			</xsd:restriction> 		</xsd:simpleType> 	</xsd:element> 	-->
	<xsd:element name="packageMedium">
		<xsd:simpleType>
			<xsd:restriction base="NonNullStringType">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="deliveryInformation" type="DeliveryInformationType"/>
	<xsd:element name="price" type="PriceType"/>
	<xsd:element name="listPrice" type="PriceType"/>
	<xsd:element name="expectedPrice" type="PriceType"/>
	<xsd:element name="productId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idCitation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="resTitle"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="collectionId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="orderItemRemark" type="NonNullStringType"/>
	<xsd:element name="processing">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="optionName">
					<xsd:simpleType>
						<xsd:restriction base="NonNullStringType">
							<xsd:maxLength value="40"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="optionSelectedValues" type="NonNullStringType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sceneSelection" type="SceneSelectionType"/>
	<xsd:element name="orderRemark">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="packageRemark" type="NonNullStringType"/>
	<xsd:element name="packageLabel" type="NonNullStringType"/>
	<xsd:element name="packageCopies" type="xsd:integer"/>
	<xsd:element name="deliveryUnitRemark" type="NonNullStringType"/>
	<xsd:element name="latestAcceptedDeliveryDate" type="xsd:date"/>
	<xsd:element name="priority" type="xsd:integer"/>
	<!-- ======================  Order Specification Definition ======================= -->
	<!-- ====================================================================== -->
	<xsd:complexType name="AcquisitionOrderSpecification">
		<xsd:sequence>
			<xsd:element ref="orderAccount" minOccurs="0"/>
			<xsd:element name="orderReference">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="orderRemark" minOccurs="0"/>
			<xsd:element name="orderItem" type="AcquisitionOrderItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOrderSpecification">
		<xsd:sequence>
			<xsd:element ref="orderAccount" minOccurs="0"/>
			<xsd:element name="orderReference">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="orderRemark" minOccurs="0"/>
			<xsd:element ref="deliveryInformation"/>
			<xsd:element name="orderItem" type="ProductOrderItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderDataAccessSpecification">
		<xsd:sequence>
			<xsd:element name="orderReference">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="orderItem" type="ProductOrderItemType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderMonitorSpecification">
		<xsd:sequence>
			<xsd:element ref="orderAccount" minOccurs="0"/>
			<xsd:element ref="orderId"/>
			<xsd:element name="orderReference"/>
			<xsd:element ref="orderRemark" minOccurs="0"/>
			<xsd:element ref="deliveryInformation" minOccurs="0"/>
			<xsd:element name="orderItem" type="OrderMonitorItemType" maxOccurs="unbounded"/>
			<xsd:element name="orderStatusInfo" type="OrderStatusType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--=========================  Order Item Definition ============================ -->
	<!--======================================================================= -->
	<xsd:complexType name="AcquisitionOrderItemType">
		<xsd:sequence>
			<xsd:element name="productId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="idCitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="resTitle"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="collectionId" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="sceneCenter" minOccurs="0"/>
			<xsd:element ref="programming" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="orderItemStatusInfo" type="OrderItemStatusType" minOccurs="0"/>
			<xsd:element name="orderItemRemark" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOrderItemType">
		<xsd:sequence>
			<xsd:element name="productId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="idCitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="resTitle"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="collectionId" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="processing" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="programming" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="sceneSelection" minOccurs="0"/>
			<xsd:element ref="packageMedium" minOccurs="0"/>
			<xsd:element name="qualityOfService" minOccurs="0"/>
			<xsd:element name="orderItemStatusInfo" type="OrderItemStatusType" minOccurs="0"/>
			<xsd:element name="orderItemRemark" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--===================== ComplexType  Definition Section ======================= -->
	<!--======================================================================= -->
	<xsd:complexType name="AcquisitionOrderRequestType">
		<xsd:sequence>
			<xsd:element ref="userInformation"/>
			<xsd:element name="orderSpecification" type="AcquisitionOrderSpecification"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOrderRequestType">
		<xsd:sequence>
			<xsd:element ref="userInformation"/>
			<xsd:element name="orderSpecification" type="ProductOrderSpecification"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataAccessRequestType">
		<xsd:sequence>
			<xsd:element ref="userInformation"/>
			<xsd:element name="orderSpecification" type="OrderDataAccessSpecification"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductServiceOptionsType">
		<xsd:sequence>
			<xsd:element name="productOrderOptions" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productOrderOptionsId" type="CharacterString"/>
						<xsd:element name="processingOption" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="ProductProcessingOptionType">
										<xsd:sequence>
											<xsd:element name="optionName" type="NonNullStringType"/>
											<xsd:element name="optionValueDefinition">
												<xsd:complexType>
													<xsd:choice>
														<xsd:element name="optionValueRange">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="numericOptionValueMin" type="xsd:float"/>
																	<xsd:element name="numericOptionValueMax" type="xsd:float"/>
																	<xsd:element name="numericOptionValueStep" type="xsd:float"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="optionValueList">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="stringOptionValue" type="NonNullStringType" maxOccurs="unbounded"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:choice>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="programmingOption" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="optionName" type="NonNullStringType"/>
									<xsd:element name="optionValueDefinition">
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="optionValueRange">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="numericOptionValueMin" type="xsd:float"/>
															<xsd:element name="numericOptionValueMax" type="xsd:float"/>
															<xsd:element name="numericOptionValueStep" type="xsd:float"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="optionValueList">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="stringOptionValue" type="NonNullStringType" maxOccurs="unbounded"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="sceneSelectionOption" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="sceneType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productDeliveryOptions" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="deliveryMethod">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="ftp-push"/>
												<xsd:enumeration value="ftp-pull"/>
												<xsd:enumeration value="mail"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element ref="packageMedium" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="qualityOfService" type="CharacterString" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="orderOptionInfoURL" type="CharacterString" minOccurs="0"/>
						<xsd:element name="priceInformationURL" minOccurs="0"/>
						<xsd:element name="purchaseConditionURL" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HorizontalSceneSelectionDefinitionType">
		<xsd:choice>
			<xsd:element name="rectangleSceneSelectionOption">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="acrossGrid"/>
						<xsd:element ref="alongGridUnitType"/>
						<xsd:element ref="alongGrid"/>
						<xsd:element name="acrossSizeLimitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="acrossSizeMin" type="xsd:integer"/>
									<xsd:element name="acrossSizeMax" type="xsd:integer"/>
									<xsd:element name="acrossSizeStep" type="xsd:integer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="acrossPositionLimitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="acrossStart" type="xsd:integer"/>
									<xsd:element name="acrossStop" type="xsd:integer"/>
									<xsd:element name="acrossStep" type="xsd:integer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="alongSizeLimitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="alongSizeMin" type="xsd:integer"/>
									<xsd:element name="alongSizeMax" type="xsd:integer"/>
									<xsd:element name="alongSizeStep" type="xsd:integer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="alongPositionLimitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="alongStart" type="xsd:integer"/>
									<xsd:element name="alongStop" type="xsd:integer"/>
									<xsd:element name="alongStep" type="xsd:integer"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ProductProcessingOptionType"/>
	<xsd:complexType name="OrderStatusType">
		<xsd:sequence>
			<xsd:element name="orderState">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="BeingEstimated"/>
						<xsd:enumeration value="Estimated"/>
						<xsd:enumeration value="BeingQuoted"/>
						<xsd:enumeration value="NotValid"/>
						<xsd:enumeration value="BeingProcessed"/>
						<xsd:enumeration value="Cancelled"/>
						<xsd:enumeration value="BeingCancelled"/>
						<xsd:enumeration value="Deleted"/>
						<xsd:enumeration value="BeingDeleted"/>
						<xsd:enumeration value="Completed"/>
						<xsd:enumeration value="BeingOnHold"/>
						<xsd:enumeration value="Terminated"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="additionalStatusInfo" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderItemStatusType">
		<xsd:sequence>
			<xsd:element name="orderState" type="xsd:string"/>
			<xsd:element name="additionalStatusInfo" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackagePriceType">
		<xsd:sequence>
			<xsd:element ref="price" minOccurs="0"/>
			<xsd:element ref="listPrice" minOccurs="0"/>
			<xsd:element ref="expectedPrice" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:sequence>
			<xsd:element name="refCurrency">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="refAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userCurrency" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="userAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:maxInclusive value="4294967296"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDeliveryOptionsType">
		<xsd:sequence>
			<xsd:element name="productByteSize" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="productFormat" type="NonNullStringType" minOccurs="0"/>
			<xsd:element name="productCompression" type="NonNullStringType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SceneSelectionType">
		<xsd:sequence>
			<xsd:element name="sceneType">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="sceneCenter" minOccurs="0"/>
			<xsd:element name="temporalSelection" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="startDateTime"/>
						<xsd:element name="endDateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scenePosition" type="CharacterString" minOccurs="0"/>
			<xsd:element name="sceneSize" type="CharacterString" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryUnitType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="DeliveryInformationType">
		<xsd:choice>
			<xsd:element name="ftp-push"/>
			<xsd:element name="ftp-pull"/>
			<xsd:element name="mail" type="DeliveryAddressType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DeliveryAddressType">
		<xsd:sequence>
			<xsd:element name="recipient" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyRef" type="CharacterString" minOccurs="0"/>
			<xsd:element name="postalAddress" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="streetAddress" type="xsd:string"/>
						<xsd:element name="city" type="xsd:string"/>
						<xsd:element name="state" type="xsd:string"/>
						<xsd:element name="postalCode" type="xsd:string"/>
						<xsd:element name="country" type="xsd:string"/>
						<xsd:element name="postBox" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="telNumber" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="NonNullStringType">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderMonitorItemType">
		<xsd:sequence>
			<xsd:element name="productId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="idCitation">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="resTitle"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="collectionId"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="sceneCenter" minOccurs="0"/>
					<xsd:element ref="programming" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="processing" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="programming" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="sceneSelection" minOccurs="0"/>
					<xsd:element ref="packageMedium" minOccurs="0"/>
					<xsd:element name="qualityOfService" minOccurs="0"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="orderItemStatusInfo" type="OrderItemStatusType" minOccurs="0"/>
			<xsd:element name="orderItemRemark" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
