branches/ESA/8.0/Plugins/DE/com.intecs.ToolboxScript.interfaces/wsdl/HMA_ORDER_10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
File:           Order.wsdl  
File Type:      XML instance of W3C WSDL 1.1 Schema  
Date:           21 November 2006  
Abstract:       WSDL file for HMA Order service  
Uses:           Order.xsd  
Author:         Marchionni Daniele  
Issue:          V1.0  
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://earth.esa.int/hma/ordering" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" targetNamespace="http://earth.esa.int/hma/ordering">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://earth.esa.int/hma/ordering" schemaLocation="Order.xsd"/>
			<import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="..\ws-addressing\ws-addr.xsd"/>
		</schema>
	</types>
	<message name="submitRequest">
		<part name="SubmitRequestParameter" element="tns:Submit"/>
	</message>
	<message name="submitResponse">
		<part name="SubmitResponseParameter" element="tns:SubmitResponse"/>
	</message>
	<message name="getStatusRequest">
		<part name="GetStatusRequestParameter" element="tns:GetStatus"/>
	</message>
	<message name="getStatusResponse">
		<part name="GetStatusResponseParameter" element="tns:GetStatusResponse"/>
	</message>
	<message name="getOptionsRequest">
		<part name="GetOptionsRequestParameter" element="tns:GetOptions"/>
	</message>
	<message name="getOptionsResponse">
		<part name="GetOptionsResponseParameter" element="tns:GetOptionsResponse"/>
	</message>
	<message name="cancelRequest">
		<part name="CancelRequestParameter" element="tns:Cancel"/>
	</message>
	<message name="cancelResponse">
		<part name="CancelResponseParameter" element="tns:CancelResponse"/>
	</message>
	<message name="getQuotationRequest">
		<part name="GetQuotationRequestParameter" element="tns:GetQuotation"/>
	</message>
	<message name="getQuotationResponse">
		<part name="GetQuotationResponseParameter" element="tns:GetQuotationResponse"/>
	</message>
	<message name="updateStatusRequest">
		<part name="UpdateStatusRequestParameter" element="tns:UpdateStatus"/>
	</message>
	<message name="updateStatusResponse">
		<part name="UpdateStatusResponseParameter" element="tns:UpdateStatusResponse"/>
	</message>
	<message name="GetCapabilitiesRequest">
		<part name="parameter" element="tns:GetCapabilities"/>
	</message>
	<message name="GetCapabilitiesResponse">
		<part name="parameter" element="tns:Capabilities"/>
	</message>
	<message name="StartHeader">
		<part name="MessageID" element="wsa:MessageID"/>
		<part name="ReplyTo" element="wsa:ReplyTo"/>
	</message>
	<message name="ContinueHeader">
		<part name="RelatesTo" element="wsa:RelatesTo"/>
	</message>
	<portType name="SOAPport">
		<operation name="Submit">
			<input message="tns:submitRequest"/>
			<output message="tns:submitResponse"/>
		</operation>
		<operation name="GetStatus">
			<input message="tns:getStatusRequest"/>
			<output message="tns:getStatusResponse"/>
		</operation>
		<operation name="Cancel">
			<input message="tns:cancelRequest"/>
			<output message="tns:cancelResponse"/>
		</operation>
		<operation name="GetOptions">
			<input message="tns:getOptionsRequest"/>
			<output message="tns:getOptionsResponse"/>
		</operation>
		<operation name="GetQuotation">
			<input message="tns:getQuotationRequest"/>
			<output message="tns:getQuotationResponse"/>
		</operation>
		<operation name="UpdateStatus">
			<input message="tns:updateStatusRequest"/>
			<output message="tns:updateStatusResponse"/>
		</operation>
		<operation name="GetCapabilities">
			<input message="tns:GetCapabilitiesRequest"/>
			<output message="tns:GetCapabilitiesResponse"/>
		</operation>
	</portType>
	<binding name="HMA_OrderingBinding" type="tns:SOAPport">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Submit">
			<soap:operation soapAction="Submit"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="StartHeader" part="ReplyTo" use="literal"/>
				<soap:header message="StartHeader" part="MessageID" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatus">
			<soap:operation soapAction="GetStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Cancel">
			<soap:operation soapAction="Cancel"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="StartHeader" part="ReplyTo" use="literal"/>
				<soap:header message="StartHeader" part="MessageID" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOptions">
			<soap:operation soapAction="GetOptions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetQuotation">
			<soap:operation soapAction="GetQuotation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateStatus">
			<soap:operation soapAction="UpdateStatus"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="ContinueHeader" part="RelatesTo" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCapabilities">
			<soap:operation soapAction="GetCapabilities"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="HMA_OrderingService">
		<port name="HMA_OrderingServicePort" binding="tns:HMA_OrderingBinding">
			<soap:address location="http://earth.esa.int/"/>
		</port>
	</service>
	<!-- Modified import schema in order to define this WSDL as  WS-I Basic Profile compliant -->
</definitions>
