branches/ESA/8.0/Plugins/DE/com.intecs.ToolboxScript.interfaces/wsdl/SSE_16.wsdl

<?xml version="1.0"?>
<!-- edited with XMLSPY v4.3 U (http://www.xmlspy.com) by The Hoa Nguyen (SPACEBEL) -->
<!--
You can either use the wsdl file generated by the toolbox or use this where you make some replacements.
Replace  http://www.mycompanyname.com/ws/mynamespace by your namespace

Replace ServiceSchemaTemplate.xsd by your service schema
Replace BasicService by your service name
replace http://localhost/services/BasicService  by your service SOAP location

-->
<definitions xmlns:tns="http://www.mycompanyname.com/ws/mynamespace" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.mycompanyname.com/ws/mynamespace">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.mycompanyname.com/ws/mynamespace" schemaLocation="ServiceSchemaTemplate.xsd"/>
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="http://services.eoportal.org/schemas/1.1/ws-addressing.xsd"/>
		</schema>
	</types>
	<message name="StartHeader">
		<part name="MessageID" element="wsa:MessageID"/>
		<part name="ReplyTo" element="wsa:ReplyTo"/>
	</message>
	<message name="ContinueHeader">
		<part name="RelatesTo" element="wsa:RelatesTo"/>
	</message>
	<message name="processRFQRequestMsg">
		<part name="parameters" element="tns:processRFQInputMsg"/>
	</message>
	<message name="processRFQResponseMsg">
		<part name="parameters" element="tns:processRFQOutputMsg"/>
	</message>
	<message name="processOrderRequestMsg">
		<part name="parameters" element="tns:processOrderInputMsg"/>
	</message>
	<message name="processOrderResponseMsg">
		<part name="parameters" element="tns:processOrderOutputMsg"/>
	</message>
	<message name="sendRFQRequestMsg">
		<part name="parameters" element="tns:sendRFQInputMsg"/>
	</message>
	<message name="sendRFQResponseMsg">
		<part name="parameters" element="tns:sendRFQOutputMsg"/>
	</message>
	<message name="sendOrderRequestMsg">
		<part name="parameters" element="tns:sendOrderInputMsg"/>
	</message>
	<message name="sendOrderResponseMsg">
		<part name="parameters" element="tns:sendOrderOutputMsg"/>
	</message>
	<message name="returnRFQResultRequestMsg">
		<part name="parameters" element="tns:returnRFQResultInputMsg"/>
	</message>
	<message name="returnRFQResultResponseMsg">
		<part name="parameters" element="tns:returnRFQResultOutputMsg"/>
	</message>
	<message name="returnOrderResultRequestMsg">
		<part name="parameters" element="tns:returnOrderResultInputMsg"/>
	</message>
	<message name="returnOrderResultResponseMsg">
		<part name="parameters" element="tns:returnOrderResultOutputMsg"/>
	</message>
	<portType name="BasicService">
		<operation name="processRFQ">
			<input name="processRFQRequestMsg" message="tns:processRFQRequestMsg"/>
			<output name="processRFQResponseMsg" message="tns:processRFQResponseMsg"/>
		</operation>
		<operation name="processOrder">
			<input name="processOrderRequestMsg" message="tns:processOrderRequestMsg"/>
			<output name="processOrderResponseMsg" message="tns:processOrderResponseMsg"/>
		</operation>
		<operation name="sendRFQ">
			<input name="sendRFQRequestMsg" message="tns:sendRFQRequestMsg"/>
			<output name="sendRFQResponseMsg" message="tns:sendRFQResponseMsg"/>
		</operation>
		<operation name="sendOrder">
			<input name="sendOrderRequestMsg" message="tns:sendOrderRequestMsg"/>
			<output name="sendOrderResponseMsg" message="tns:sendOrderResponseMsg"/>
		</operation>
	</portType>
	<portType name="BasicServiceCallback">
		<operation name="returnRFQResult">
			<input name="returnRFQResultRequestMsg" message="tns:returnRFQResultRequestMsg"/>
			<output name="returnRFQResultResponseMsg" message="tns:returnRFQResultResponseMsg"/>
		</operation>
		<operation name="returnOrderResult">
			<input name="returnOrderResultRequestMsg" message="tns:returnOrderResultRequestMsg"/>
			<output name="returnOrderResultResponseMsg" message="tns:returnOrderResultResponseMsg"/>
		</operation>
	</portType>
	<binding name="BasicServiceSoapBinding" type="tns:BasicService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="processRFQ">
			<wsdlsoap:operation soapAction="processRFQ"/>
			<input>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="processOrder">
			<wsdlsoap:operation soapAction="processOrder"/>
			<input>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="sendRFQ">
			<wsdlsoap:operation soapAction="sendRFQ"/>
			<input>
				<wsdlsoap:header message="tns:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="sendOrder">
			<wsdlsoap:operation soapAction="sendOrder"/>
			<input>
				<wsdlsoap:header message="tns:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="BasicServiceCallbackSoapBinding" type="tns:BasicServiceCallback">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="returnRFQResult">
			<wsdlsoap:operation soapAction="returnRFQResult"/>
			<input>
				<wsdlsoap:header message="tns:ContinueHeader" part="RelatesTo" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
		<operation name="returnOrderResult">
			<wsdlsoap:operation soapAction="returnOrderResult"/>
			<input>
				<wsdlsoap:header message="tns:ContinueHeader" part="RelatesTo" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</input>
			<output>
				<wsdlsoap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BasicService">
		<port name="BasicService" binding="tns:BasicServiceSoapBinding">
			<wsdlsoap:address location="http://localhost/services/BasicService"/>
			<!-- the address location is different for different service server -->
		</port>
	</service>
	<service name="BasicServiceCallbackService">
		<port name="BasicServiceCallback" binding="tns:BasicServiceCallbackSoapBinding">
			<wsdlsoap:address location="value will set at runtime by means of ws-addressing"/>
		</port>
	</service>
	<!-- the service callpack ports, relative to the asynchronous operation sendRFQ, sendOrder -->
	<plnk:partnerLinkType name="BasicService">
		<plnk:role name="BasicServiceProvider">
			<plnk:portType name="tns:BasicService"/>
		</plnk:role>
		<plnk:role name="BasicServiceRequester">
			<plnk:portType name="tns:BasicServiceCallback"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
