branches/GENESIS/9.0/Pep/web/WEB-INF/plugins/FactoryInterfacesPlugin/schemas/OGC-06-141_094/Order_spsCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:swe="http://www.opengis.net/swe/0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sps="http://www.opengis.net/sps/0" xmlns:wns="http://www.opengis.net/wns" targetNamespace="http://www.opengis.net/sps/0" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<!-- ==============================================================
		includes and imports
	============================================================== -->
	<xs:import namespace="http://www.opengis.net/swe/0.0" schemaLocation="swe/sweCommon/0.0.0/aggregateTypes.xsd"/>
	<!-- ==============================================================
		elements and types
	============================================================== -->
	<xs:complexType name="RequestBaseType">
		<xs:annotation>
			<xs:documentation>XML encoded SPS operation request base, for all operations except Get Capabilities. In this XML encoding, no "request" parameter is included, since the element name specifies the specific operation. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="service" type="xs:string" use="required" fixed="SPS">
			<xs:annotation>
				<xs:documentation>Service type identifier. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string" use="required" fixed="1.0.0">
			<xs:annotation>
				<xs:documentation>Specification version for SPS version and operation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:choice>
			<xs:element name="value" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="sps:Parameter" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="parameterID" type="xs:token" use="required"/>
	</xs:complexType>
	<xs:complexType name="ParameterDescriptorType">
		<xs:sequence>
			<xs:element ref="sps:Description" minOccurs="0"/>
			<xs:element name="definition" maxOccurs="unbounded">
				<xs:annotation>
          				<xs:documentation>implicit OR : a parameter may be described by more than one definition</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="commonData">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="swe:AnyData"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TaskMessageDefinition">
							<xs:annotation>
								<xs:documentation>links to a URI dictionary whrere the taskMessage is defined properly.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:anyURI"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="GeometryDefinition">
							<xs:annotation>
								<xs:documentation>enumerates gml:Point, gml:Line, gml:Polygon as possible values</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:QName"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="sps:ParameterDescriptor" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A parameter may contain a list of parameters, and so on</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="restriction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>optional. Only used if the client has to choose one or many of the provided values. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="sps:Parameter"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cardinality" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the number of input objects that could be provided.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minExclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="unbounded"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:union>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="parameterID" type="xs:token" use="required"/>
		<xs:attribute name="use" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="required"/>
					<xs:enumeration value="optional"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="updateable" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="ParametersDescriptorType">
		<xs:sequence>
			<xs:element ref="sps:Description" minOccurs="0"/>
			<xs:element ref="sps:ParameterDescriptor" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgressReportType">
		<xs:sequence>
			<xs:element ref="sps:ID"/>
			<xs:element name="status">
				<xs:annotation>
					<xs:documentation>defines if the request is being processed, rejected or failed to process due to insuffiencent parametrization.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="in operation"/>
						<xs:enumeration value="finished"/>
						<xs:enumeration value="not yet started"/>
						<xs:enumeration value="cancelled"/>
						<xs:enumeration value="delayed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="sps:Description" minOccurs="0"/>
			<xs:element ref="sps:EstimatedToC" minOccurs="0"/>
			<xs:element name="Output" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="sps:Description" minOccurs="0"/>
						<xs:element ref="sps:parameters"/>
						<xs:element name="DateFrom" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestAckStatusType">
		<xs:sequence>
			<xs:element name="status">
				<xs:annotation>
					<xs:documentation>defines if the request is being processed, rejected or failed to process due to insuffiencent parametrization.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="confirmed"/>
						<xs:enumeration value="rejected"/>
						<xs:enumeration value="pending"/>
						<xs:enumeration value="request incomplete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="sps:Description" minOccurs="0"/>
			<xs:element ref="sps:LatestResponseTime" minOccurs="0"/>
			<xs:element ref="sps:EstimatedToC" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ResponseAckStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ok"/>
		</xs:restriction>
	</xs:simpleType>
	<!--ID elements-->
	<xs:element name="sensorID" type="xs:token">
		<xs:annotation>
			<xs:documentation>Identifies a sensor. Unique to every SPS instance.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ID" type="xs:token">
		<xs:annotation>
			<xs:documentation>Unique ID which either references a feasibility study, a reservation or a task - possible meanings are depending on the actual operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--elements used for defining task input-->
	<xs:element name="Parameter" type="sps:ParameterType"/>
	<xs:element name="ParameterDescriptor" type="sps:ParameterDescriptorType">
		<xs:annotation>
			<xs:documentation>Defines the input required to task a sensor.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--additional elements-->
	<xs:element name="parameters">
		<xs:annotation>
			<xs:documentation>Contains a list of parameters.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sps:Parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeFrame" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Maximum point in time a request keeps being valid. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Alternative">
		<xs:annotation>
			<xs:documentation>Provides an alternative parameter constellation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sps:Description" minOccurs="0"/>
				<xs:element ref="sps:parameters"/>
			</xs:sequence>
			<xs:attribute name="SuccessRate">
				<xs:annotation>
					<xs:documentation>Indicates the success rate for the given alternative in percent. If omitted the success rate equals 100%.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:maxInclusive value="100"/>
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LatestResponseTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Denotes the point in time when the notification that contains the definite response to a delayed operation request will be sent. If no notification has been received until that time the operation shall be deemed to have been rejected or failed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EstimatedToC" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Estimated Time of Completion gives a hint when the task might be completed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Description" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contains a simple description.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
